body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: rgb(3, 0, 16);
    
}
.stars {
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}
.stars span {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: twinkle 3s infinite ease-in-out;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.navigation-links {
    display: flex;
    gap: 30px;
}
.navigation-links a {
    text-decoration: none;
    color: #e6efe6;
    font-weight: 500;
    transition: color 0.3s ease;
}
.navigation-links a:hover {
    color: #2ee574;
}
.logo-container {
    display: flex;
    flex-direction: column;
}
.logo {
    text-decoration: none;
    color: #e6efe6;
    font-size: 28px;
    font-weight: 700;
    transition:0.3s ease;
}
.logo span {
    color: #2ee574;
}
.logo:hover {
    transform: scale(1.05);
}
.logo-container p {
    margin: 0;
    margin-top: 1px;
    font-size: 11px;
    color: #839298;
    letter-spacing: 1px; 
}